<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
		<httpErrors errorMode="Detailed" />
      <asp scriptErrorSentToBrowser="true"/>
  </system.webServer>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true"/>
  </system.web> 
  <location path="agnewtaylorhardware">
    <system.webServer>
      <security>
        <requestFiltering allowDoubleEscaping="true" />
      </security>
      <httpErrors errorMode="Custom" />
      <asp scriptErrorSentToBrowser="false"/>
			<!--section name="httpErrors" overrideModeDefault="Allow" /-->
	
    </system.webServer>
    <system.web>
      <customErrors mode="On"/>
      <compilation debug="true"/>
    </system.web> 
  </location> 
  <location path="pedalcars">
    <system.webServer>
		  <security>
			  <requestFiltering allowDoubleEscaping="true" />
			</security>
			<httpErrors errorMode="Custom" />
			<asp scriptErrorSentToBrowser="false"/>
			<!--section name="httpErrors" overrideModeDefault="Allow" /-->
		</system.webServer>
		<system.web>
		  <customErrors mode="On"/>
			<compilation debug="false"/>
		</system.web> 
	</location>

	<location path="ronkonkoma_chamber">
		<system.webServer>
			<security>
				<requestFiltering allowDoubleEscaping="true" />
			</security>
			<httpErrors errorMode="Custom" />
			<asp scriptErrorSentToBrowser="false"/>
			<!--section name="httpErrors" overrideModeDefault="Allow" /-->
		</system.webServer>
		<system.web>
			<customErrors mode="On"/>
			<compilation debug="false"/>
		</system.web> 
	</location>

  <location path="ronkonkoma_chamber/chamber_add_on/admin_system">
    <system.webServer>
      <security>
        <requestFiltering allowDoubleEscaping="true" />
      </security>
      <httpErrors errorMode="Detailed" />
      <asp scriptErrorSentToBrowser="true"/>
      <!--section name="httpErrors" overrideModeDefault="Allow" /-->
    </system.webServer>
    <system.web>
      <customErrors mode="off"/>
      <compilation debug="false"/>
    </system.web> 
  </location>


	<system.webServer>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
    <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
    <dynamicTypes>
      <add mimeType="text/*" enabled="true"/>
      <add mimeType="message/*" enabled="true"/>
      <add mimeType="application/javascript" enabled="true"/>
      <add mimeType="*/*" enabled="false"/>
    </dynamicTypes>
    <staticTypes>
      <add mimeType="text/*" enabled="true"/>
      <add mimeType="message/*" enabled="true"/>
      <add mimeType="application/javascript" enabled="true"/>
      <add mimeType="*/*" enabled="false"/>
    </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>
  </system.webServer>
	<!--system.net>
        <mailSettings>
            <smtp>
                <network host="smtpout.secureserver.net" userName="emailaccount@yourdomain.com" password="****" />
            </smtp>
        </mailSettings>
  </system.net-->
</configuration>